html {
    background-image:url('../img/background.png');
}
body {font-family:Arial, sans-serif;
    width:50%;
    margin:20px auto;
}
nav {
    border-bottom: 1px dotted #ccc;
    margin-bottom: 10px;
}
.alert-message {
    font-weight:bold;
    padding:5px;
    margin:10px;
    line-height:1em;
}
.alert-message.success {
    border:1px solid green;
    background-color: #008000;
}
.alert-message.error {
    border:1px solid red;
    background-color: indianred;
    color:white;
}
header h1 {
    margin-bottom: 5px;
    margin-top:20px;
    color:#999; 
}
nav ul {
    overflow:auto;
    margin-bottom:0px;
    padding-bottom: 0px;
}
nav ul li {
    list-style-type: none;
    float:left;
    padding:8px;
    
}
nav ul li a, nav ul li a:hover, nav ul li a:visited {
    font-weight: 900;
}

#right-cont{
    float:right;
    margin-top: -15px;
}
#auth{
    padding-top: 5px;
}
#logout {
    text-align:right;
}

hr{
    margin:5px 0;
}

#pagetitle {
    display:inline;
    margin-top: 10px;
}
#setlang {
    font-weight: bold;
    margin:0 5px;
    text-align: right;
}
pre {
    color:#222;
}

#comments {
    margin-top: 5px;
}
#comments nav ul {
    overflow:auto;
    margin-bottom:0px;
    padding-bottom: 0px;
}
#comments nav ul li {
    list-style-type: none;
    float:left;
    padding:8px;
}
.comment {
    margin-bottom: 9px;
}
.comment-date {
    float:right;
}